@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --clr-primary: #BCEBCB;
    --clr-neutral: #F7FFF6;
    --padding: 36px;

    height: 100%;
}

body {
    height: 100%;
    background-color: var(--clr-neutral);
}

header {
    background-color: var(--clr-neutral);
    height: min(120px, 30%);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0px 5px 3px 1px rgba(0,0,0,0.20);
    gap: 24px;
    padding-left: var(--padding);
    button {
        background-color: var(--clr-neutral);
        border-radius: 5px;
        height: 35%;
        aspect-ratio: 3 / 2;
    }
}