@import 'node_modules/modern-normalize/modern-normalize.css';

* {
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --clr-primary: hsl(20, 90%, 81%);
    --clr-neutral: hsl(47, 100%, 98%);
    --padding: 36px;

    height: 100%;
}

button {
    border-style: solid;
    border-color: rgb(61, 61, 61);
}

.button-effects {
    background-color: var(--clr-primary);
    &:hover {
        background-color: hsl(from var(--clr-primary) h s calc(l - 10));
    }
    &:active {
        background-color: hsl(from var(--clr-primary) h s calc(l + 5));
    }
}

body {
    height: 100%;
    background-color: var(--clr-neutral);
}

header {
    background-color: var(--clr-neutral);
    height: min(120px, 30%);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.4);
    gap: 24px;
    padding-left: var(--padding);
}

.shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    grid-auto-rows: 300px;
    gap: var(--padding);
    padding: var(--padding);

    & > * {
        border-color: black;
        border-style: solid;
        border-width: 2px;
    }

    .card {
        box-shadow: 4px 5px 6px 0px rgba(0,0,0,0.4);
        padding: var(--padding);
        display: flex;
        flex-direction: column;
        gap: 4px;
        text-align: center;
        .title {
            font-weight: bold;
            overflow: hidden;
            max-height: 110px;
        }
        .pages {
            margin-top: auto;
            &::after {
                content: " pages";
            }
        }
        .read {
            background-color: var(--clr-primary);
        }
        .unread {
            background-color: var(--clr-neutral);
        }
        .remove {
            background-color: var(--clr-neutral);
            &:hover {
                background-color: rgb(255, 112, 112);
            }
        }
    }
}

dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    height: max(180px, 30%);
    width: max(300px, 20%);

    background-color: var(--clr-neutral);
    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        div {
            display: flex;
            justify-content: space-between;
        }
        input {
            height: 1.5em;
            border: 0.15em solid black;
        }
        :focus {
            outline: none;
            border: 0.2em solid black;
        }
        input[type="checkbox"] {
            appearance: none;
            background-color: #fff;
            margin: 0;
            font: inherit;
            color: black;
            width: 1em;
            height: 1em;
            display: grid;
            place-content: center;
        }
        input[type="checkbox"]::before {
            content: "";
            width: 0.75em;
            height: 0.75em;
            transform: scale(0);
            background-color: var(--clr-primary);
        }
        input[type="checkbox"]:checked::before {
            transform: scale(1);
        }
        button {
            background-color: var(--clr-primary);
            margin-top: auto;
        }
    }
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}