@import 'node_modules/modern-normalize/modern-normalize.css';


:root {
    --clr-primary: rgb(197, 255, 202);
    --clr-neutral: white;
    --clr-accent: rgb(233, 160, 50);

    height: 100%;
}

body {
    height: 100%;
    background-color: var(--clr-neutral);
}

header {
    background-color: var(--clr-neutral);
    height: min(120px, 30%);
    display: flex;
    align-items: center;
}